/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
}


/****************** algemeen *****************/
body {
    font-family: ScalaSansOT, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color: lightgray;    
}


h1 {
    font-size: 30px;
    margin: 10px;
    padding-top: 200px;
    color: white;
}


p {
    margin: 10px;
    font-size: 17px;
    color: white;    
}



/****************** feedback button zijkant site *****************/
#zijkant {
    position: relative;
}


#zijkant h2 {
    position:fixed;
    right:-10px; 
    top: 50%;
    padding:10px;
    text-align:center;
    color:white;
    background-color:black;
    writing-mode:vertical-rl;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
}


/****************** homepagina  *****************/
.homebanner {
    padding-bottom: 150px;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url("../images/homebanner.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: auto;   
}
 

img {
    margin: 10px -6px 0px -6px;
    width: 375px;
    height: 291px;
    position: relative;
}



/****grid*****/
main {
    display:grid;
    grid-template-columns:1fr 1fr;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:1em;
    margin: 0px 0px 40px 25px;
}


header article{
    background-color: black;
    width: 100%;
    height: 200px;   
}


header h1 {
    padding: 30px;
    margin: 0px;
}


article {
    background-color: white;
    margin: 0px;
    width: 100%;
    height: auto;
    padding: 30px 0px 0px 0px;
    text-align: center;   
}


button{
    margin: 10px 30px 10px 15px;
    padding: 5px 30px 5px 30px;
    background-color: white;
    border-style: solid 1px;
    font-size: 15px;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;  
}


article img {
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px; 
}


.productfoto {
    width: 50px;
    height: 216,5px;
}


article h2 {
    font-size: 15px;
}


article p{
    margin: 0;
    color: gray;
}



/* slides*/

.s-wrap {
    width: 100%;
    height: 200px;
    background-color: lightgray;
    border: none;
    overflow: hidden;
    padding-top: 0px;
    margin-top: 50px;
}


.s-move {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
}


.slide {
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
    flex-shrink: 0;
}


@keyframes slideh {
    0% {right: 0;}
    15% {right: 0;}
    20% {right: 100%;}
    35% {right: 100%;}
    40% {right: 200%;}
    55% {right: 200%;}
    60% {right: 300%;}
    75% {right: 300%;}
    80% {right: 400%;}
    95% {right: 400%;}
    100% {right: 0;}
}


.s-move { animation: slideh linear 25s infinite;}


.s-wrap p {
    text-align: center;   
}



/* nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;   
}


.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    padding: 10px;  
    text-decoration: none;
    color: white;
}


.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;  
}


.navbar-links li {
    list-style: none;
}


.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;  
}


.navbar-links li:hover {
    background-color: gray;
}


.toggle-button {
    position: absolute;
    top: 20px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;  
}


.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;  
}


@media (max-width: 600px) {
    .toggle-button {
        display: flex;   
    }
    
    .navbar-links {
        display: none;
        width: 100%;
        margin-top: 90px;
        margin-bottom: 90px;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;  
    }
    
    .navbar-links ul {
        width: 100%;
        flex-direction: column;   
    }
    
    .navbar-links li {
        text-align: center;   
    }
    
    .navbar-links.active {
        display: flex;
    }
}



/* carousel */

div.scroll {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    height: auto;
    margin-bottom: 250px;   
}


div.scroll a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;   
}


div.scroll a:hover {
    background-color: #777;
}    


div p {
    color: black;
}


/* footer */

footer h2 {
    color: white;
    padding-left: 20px;
}


footer p {
    padding-left: 20px;
}


footer button {
    padding-left: 40px;
}


footer {
    background-color: black;
    margin: -30px;
    margin-bottom: -10px;
    padding-bottom: 170px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 30px; 
}





